* {
  margin: 0;
}

html {
  font-size: 10px;
  text-align: center;
  background-color: #252422;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  color: #cccccc;
  background-color: #252422;
  justify-content: flex-end;
  font-size: 2.4rem;
}

#link-list {
  list-style: none;
  padding: 1rem;
}

.link-list-item {
  padding: 1rem;
}

#link-list a {
  color: #cccccc;
  text-decoration: none;
}

#link-list li:hover {
  text-decoration: underline;
}

main {
  margin-top: 8rem;
}

#headline::before {
  content: " ";
  z-index: 2;
  display: block;
  background-color: rgb(204, 204, 204, 0.6); /*rgb of #cccccc*/
  position: absolute;
  height: 60rem;
  width: 100%;
}

/*#headline-overlay {
  position: relative;
  z-index: 4;
}*/

#headline {
  position: relative;
  height: 60rem;
  background-image: url(../images/altinay-dinc-LluELtL5mK4-unsplash.jpg);
  background-position: center top 40%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

h1 {
  position: relative;
  font-size: 8.6rem;
  text-align: center;
  padding-top: 10rem;
  z-index: 5;
}

h2 {
  position: relative;
  font-size: 3.6rem;
  padding-top: 8rem;
  z-index: 5;
}

#intro {
  width: 90%;
  height: 50rem;
  margin: 0 auto;
}

#about {
  width: 50%;
}

#intro-img {
  width: 50%;
}

#about-content {
  color: #cccccc;
  width: 90%;
  height: 30rem;
  margin: 10rem auto;
  border: 3px solid #cccccc;
  border-radius: 20px;
}

p {
  padding: 1rem;
}

#img-frame {
  width: 25rem;
  height: 30rem;
  margin: 10rem auto;
  border: 3px solid #cccccc;
  border-radius: 20px;
  overflow: hidden;
}

#intro-img img {
  width: 25rem;
}
