* {
  margin: 0;
}

html {
  font-size: 10px;
  text-align: center;
  background-color: #252422;
  color: #cccccc;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: #252422;
  justify-content: flex-end;
  font-size: 2.4rem;
  border-bottom: 1px solid #cccccc;
}

#link-list {
  list-style: none;
  padding: 1rem;
}

.link-list-item {
  padding: 1rem;
}

#link-list a {
  color: #cccccc;
  text-decoration: none;
}

#link-list li:hover {
  text-decoration: underline;
}

main {
  margin-top: 8rem;
}

hr {
  width: 90%;
  margin: 0 auto;
}

#headline::before {
  content: " ";
  z-index: 2;
  display: block;
  background-color: rgb(204, 204, 204, 0.6); /*rgb of #cccccc*/
  position: absolute;
  height: 60rem;
  width: 100%;
}

/*#headline-overlay {
  position: relative;
  z-index: 4;
}*/

#headline {
  position: relative;
  height: 60rem;
  background-image: url(../resources/images/altinay-dinc-LluELtL5mK4-unsplash.jpg);
  background-position: center top 40%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

h1 {
  position: relative;
  font-size: 8.6rem;
  text-align: center;
  padding-top: 10rem;
  z-index: 5;
  color: black;
}
h2 {
  font-size: 4.8rem;
}

#headline h2 {
  position: relative;
  font-size: 3.6rem;
  padding-top: 8rem;
  z-index: 5;
  color: black;
}

#intro {
  width: 90%;
  height: 60rem;
  margin: 0 auto;
}

#about {
  width: 65%;
}

#intro-img {
  width: 35%;
}

.frame {
  border: 3px solid #cccccc;
  border-radius: 20px;
}

#about-box {
  width: 85%;
  height: 30rem;
  margin: 15rem auto;
  overflow: scroll;
}

p {
  font-size: 1.7rem;
  text-align: left;
  padding: 2rem;
}

#img-frame {
  width: 25rem;
  height: 30rem;
  margin: 15rem auto;
  overflow: hidden;
}

#intro-img img {
  width: 25rem;
}

#my-work {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2rem;
}

#my-work h2 {
  padding: 2rem 0;
}

#projects-box {
  justify-content: space-around;
}

.projectCard {
  width: 45%;
  height: 20rem;
  margin: 2rem 0;
}

#weather {
  background-image: url(../resources/images/react-weather.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#tea-cozy {
  background-image: url(../resources/images/tea\ cozy.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#company-page {
  background-image: url(../resources/images/company\ page.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#club-page {
  background-image: url(../resources/images/club\ page.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/*#skills {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}*/

#skills h2 {
  padding-bottom: 2rem;
}

#skills-box {
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
}

.skillsCard {
  width: 10rem;
  height: 10rem;
  background-color: #cccccc;
}

.skillsCard img {
  display: block;
  margin: 1rem auto;
  width: 8rem;
  height: 8rem;
}

/*#contact {
  height: 30rem;
}*/

#contact h2 {
  padding: 2rem 0;
}

#contact-box {
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
}

.contactCard {
  width: 10rem;
  height: 10rem;
  background-color: #cccccc;
}

.contactCard img {
  display: block;
  margin: 1rem auto;
  width: 8rem;
  height: 8rem;
}

#footer-rule {
  width: 100%;
  font-size: 0.8rem;
}

footer {
  justify-content: space-around;
}

footer a {
  color: #cccccc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
