* {
  margin: 0;
}

html {
  font-size: 10px;
  text-align: center;
  background-color: #252422;
  color: #cccccc;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: #252422;
  justify-content: flex-end;
  font-size: 2.4rem;
  border-bottom: 2px solid #cccccc;
}

.linkList {
  list-style: none;
  padding: 1rem;
}

.link-list-item {
  padding: 1rem;
}

.linkList a {
  color: #cccccc;
  text-decoration: none;
}

.linkList li:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  header {
    height: 7rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    height: 6rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 320px) {
  header {
    height: 6rem;
    font-size: 1.5rem;
  }
}

main {
  margin-top: 8rem;
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  main {
    margin-top: 7rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  main {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 320px) {
  main {
    margin-top: 6rem;
  }
}

hr {
  width: 90%;
  margin: 0 auto;
}

#headline::before {
  content: " ";
  z-index: 2;
  display: block;
  background-color: rgb(204, 204, 204, 0.6); /*rgb of #cccccc*/
  position: absolute;
  height: 60rem;
  width: 100%;
}

/*#headline-overlay {
  position: relative;
  z-index: 4;
}*/

#headline {
  position: relative;
  height: 60rem;
  background-image: url(../resources/images/altinay-dinc-LluELtL5mK4-unsplash.jpg);
  background-position: center top 40%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  #headline {
    height: 35rem;
  }

  #headline::before {
    height: 35rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #headline {
    height: 31rem;
  }

  #headline::before {
    height: 31rem;
  }
}

@media only screen and (max-width: 480px) {
  #headline {
    height: 70rem;
  }

  #headline::before {
    height: 70rem;
  }
}

@media only screen and (max-width: 320px) {
  #headline {
    height: 50rem;
  }

  #headline::before {
    height: 50rem;
  }
}

h1 {
  font-size: 8.6rem;
  text-align: center;
  padding-top: 10rem;
}

#headline h1 {
  position: relative;
  z-index: 5;
  color: black;
}

h2 {
  font-size: 4.8rem;
}

#headline h2 {
  position: relative;
  font-size: 3.6rem;
  padding-top: 8rem;
  z-index: 5;
  color: black;
}

@media only screen and (min-width: 835px) and (max-width: 1200px) {
  #headline h1 {
    padding-top: 15rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  #headline h1 {
    padding-top: 3rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #headline h1 {
    padding-top: 2.4rem;
  }
}

#intro {
  width: 90%;
  height: 60rem;
  margin: 0 auto;
}

#about {
  width: 65%;
}

#about-box {
  width: 85%;
  height: 30rem;
  margin: 15rem auto;
  overflow: scroll;
}

p {
  font-size: 1.7rem;
  text-align: left;
  padding: 2rem;
}

#intro-img {
  width: 35%;
}

.frame {
  border: 3px solid #cccccc;
  border-radius: 20px;
}

#img-frame {
  width: 25rem;
  height: 30rem;
  margin: 15rem auto;
  overflow: hidden;
}

#intro-img img {
  width: 25rem;
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  #intro {
    height: auto;
  }

  #about {
    width: 60%;
    height: auto;
  }

  #about-box {
    margin: 2rem auto;
  }

  #img-frame {
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #intro {
    height: auto;
  }

  #about {
    width: 60%;
    height: auto;
  }

  #about-box {
    margin: 2rem auto;
  }

  #img-frame {
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    height: auto;
    flex-wrap: wrap-reverse;
  }

  #about {
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
  }

  #about-box {
    width: 80%;
    margin: 2rem auto;
  }

  #intro-img {
    width: 90%;
    margin: 2rem auto;
  }

  #img-frame {
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 320px) {
  #about-box {
    width: 90%;
    margin: 2rem auto;
  }

  #intro-img {
    width: 90%;
    margin: 2rem auto;
  }

  #img-frame {
    margin: 2rem auto;
  }

  p {
    font-size: 1.5rem;
  }
}

#my-work {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2rem;
}

#my-work h2 {
  padding: 2rem 0;
}

#projects-box {
  height: 72.5rem;
  overflow: scroll;
  justify-content: space-around;
}

.projectCardOverlay {
  width: 45%;
  height: 20rem;
  margin: 2rem 0;
}

.projectCard {
  width: 100%;
  height: 20rem;
  margin: 2rem 0;
}

@media only screen and (min-width: 835px) and (max-width: 1200px) {
  .projectCardOverlay {
    width: 90%;
    height: 30rem;
  }

  .projectCard {
    width: 100%;
    height: 30rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 834px) {
  .projectCardOverlay {
    width: 90%;
    height: 25rem;
  }

  .projectCard {
    width: 100%;
    height: 25rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .projectCardOverlay {
    width: 90%;
  }

  .projectCard {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .projectCardOverlay {
    width: 90%;
    height: 15rem;
  }

  .projectCard {
    width: 100%;
    height: 15rem;
  }
}

@media only screen and (max-width: 320px) {
  .projectCardOverlay {
    height: 10rem;
  }

  .projectCard {
    height: 10rem;
  }
}

#weather {
  background-image: url(../resources/images/react-weather.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#tea-cozy {
  background-image: url(../resources/images/tea\ cozy.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#company-page {
  background-image: url(../resources/images/company\ page.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#club-page {
  background-image: url(../resources/images/club\ page.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio {
  background-image: url(../resources/images/portfolio.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/*#skills {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}*/

#skills h2 {
  padding: 2rem 0;
}

#skills-box {
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
}

.skillsCard {
  width: 10rem;
  height: 10rem;
  background-color: #cccccc;
}

.skillsCard img {
  display: block;
  margin: 1rem auto;
  width: 8rem;
  height: 8rem;
}

/*@media only screen and (max-width: 480px) {
  #skills {
    height: auto;
  }

  #skills-box {
  }
}*/

@media only screen and (max-width: 480px) {
  #skills {
    height: auto;
  }

  #skills h2 {
    padding-bottom: 0;
  }

  #skills-box {
    height: 15rem;
  }

  .skillsCard {
    width: 6rem;
    height: 6rem;
  }

  .skillsCard img {
    display: block;
    margin: 1rem auto;
    width: 4rem;
    height: 4rem;
  }
}

/*#contact {
  height: 30rem;
}*/

#contact h2 {
  padding: 2rem 0;
}

#contact-box {
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  justify-content: space-around;
  align-content: center;
}

.contactCard {
  width: 10rem;
  height: 10rem;
  background-color: #cccccc;
}

.contactCard img {
  display: block;
  margin: 1rem auto;
  width: 8rem;
  height: 8rem;
}

@media only screen and (max-width: 480px) {
  #contact {
    height: auto;
  }

  #contact h2 {
    padding-bottom: 0;
  }

  #contact-box {
    height: 15rem;
  }

  .contactCard {
    width: 6rem;
    height: 6rem;
  }

  .contactCard img {
    width: 4rem;
    height: 4rem;
  }
}

#footer-rule {
  width: 100%;
  font-size: 0.8rem;
}

footer {
  height: 9rem;
  border-top: 2px solid #cccccc;
  justify-content: space-around;
  align-content: center;
}

footer a {
  color: #cccccc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  footer {
    height: auto;
    font-size: 1.5rem;
  }

  footer p {
    width: 100%;
    text-align: center;
  }
}
