#header-box ul {
  font-size: 1.8rem;
  list-style: none;
  padding: 2rem 0;
}

#header-box li {
  padding: 1rem 0;
}

#city {
  font-size: 3.6rem;
}

#header-box a {
  color: #cccccc;
  text-decoration: none;
}

#header-box a:hover {
  text-decoration: underline;
}

#privacy p {
  text-align: center;
}

footer .contactCard {
  width: 6rem;
  height: 6rem;
}

footer .contactCard img {
  display: block;
  margin: 1rem auto;
  width: 4rem;
  height: 4rem;
}
