html {
  font-size: 10px;
  --main-background-color: #252422;
  --main-accent-color: #cccccc;
}

.wrapper p {
  width: 70%;
  height: 30rem;
  margin: 0 auto;
}

#privacy p {
  text-align: center;
}

footer .contactCard {
  width: 6rem;
  height: 6rem;
}

footer .contactCard img {
  display: block;
  margin: 1rem auto;
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  footer #privacy {
    width: 70%;
    align-content: space-around;
  }
}
