#header-box ul {
  font-size: 1.8rem;
  list-style: none;
  padding: 2rem 0;
}

#header-box li {
  padding: 1rem 0;
}

#city {
  font-size: 3.6rem;
}

#header-box a {
  color: var(--main-accent-color);
  text-decoration: none;
}

#header-box a:hover {
  text-decoration: underline;
}

.resHeader {
  line-height: 12rem;
}

.resArticle {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
}

.resLink {
  color: var(--main-accent-color);
}

.edInfo {
  padding: 0;
}

.edList {
  text-align: left;
  padding: 2rem;
  font-size: 1.6rem;
}

#privacy p {
  text-align: center;
}

footer .contactCard {
  width: 6rem;
  height: 6rem;
}

footer .contactCard img {
  display: block;
  margin: 1rem auto;
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 481px) and (max-width: 1200px) {
  footer #privacy {
    width: 70%;
    align-content: space-around;
  }
}
